.body {

    /* https://neumorphism.io/#e0e0e0 */

    background-color: #e0e0e0;

    min-height: 100vh;

    display: flex;
    flex-direction: column; /* Para centrar correctamente */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90%;
    max-width: 56.25rem;
    margin: auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    /* Grid Responsive y automático */
    gap: 1rem;

    min-height: 50vh; /* Evita que las imágenes queden pegadas arriba */
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid .img {
    width: 100%; /* Que ocupe todo el espacio de la celda */
    aspect-ratio: 1; /* Mantiene las imágenes cuadradas */
    background-color: orange;
    box-shadow: 0.5rem 0.5rem 0.5rem #cecece,
                -0.5rem -0.5rem 0.5rem #f2f2f2; /* Sombras mucho más sutiles */

    cursor: pointer;
    transition: all 0.5s ease;
}

.grid .img:hover {
    transform: scale(.95);
}

.grid .img:active {
    transform: scale(1.1);

}

.lightbox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2rem);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    opacity: 0;
    pointer-events: none; /*Desactivamos efecto raton en esa etiqueta*/
    transition: all .5s ease;
}

.lightbox.isActive{
    opacity: 1;
    pointer-events: auto; /* volvera  funcionar el raton en esa etiqueta*/
}

.lightbox .grande{
    width: 90%;
    max-width: 900px;
    background-color: orange;
    height: 70vh;
}

.lightbox .close{
    width: 3rem;
    color: white;
    cursor: pointer;
    transition:all .5s ease;

}

.lightbox .close:hover{
    transform: scale(0.95);
}

.lightbox .close:active{
    transform: scale(1.1);
}

.lightbox .svg{
background-color: orange;
}

.lightbox .grande{
    width: 90%;
    max-width: 900px;
    height: 80vh;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);


}
