
    /*Formatos de fuentes
    - otf: opentype - woff:woff woff2:woff2 */
@font-face {
    font-family: "crotah";
    src: url("../fonts/") format("truetype");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.u-txtCrotah{
    font-family: "crotah";
}

.main{
    flex-grow: 1; /*Ocupa todo el espacio disponible*/
    justify-content: center; /*Centra el contenido*/
    align-items: center; /*Centra el contenido*/
    width: 100%; /*Ocupa todo el ancho*/
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between; /*Distribuye los elementos a los extremos*/
    align-items: center; /*Centra el contenido*/
    padding: 10px 20px; /*Padding de 10px arriba y abajo y 20px a los lados*/
    box-shadow: 0 2PX 5PX rgba(0,0,0,0.1); /*Sombra*/
    z-index: 2; /*Para que esté por encima de los demás elementos*/
}