
/* Mobile (55%) - 328px a 488px */
@media only screen and (min-width: 328px) and (max-width: 488px) {

    body {
        background-color: rgb(240, 232, 163);
        /* Color de fondo para dispositivos móviles */
    }

    .container__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__tittle {
        text-align: center;
        font-size: 10px;
        /* Tamaño más pequeño en móviles */
    }

    .container__img {
        width: 55%;
        height: auto;
        border: 5px solid orange;
        /* Borde naranja */
    }
}

/* Tablets - 768px a 1884px */
@media only screen and (min-width: 488px) and (max-width: 1280px) {

    body {
        background-color: rgb(238, 217, 96);
        /* Color de fondo para dispositivos móviles */
    }

    .container__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__tittle {
        width: 70%;
        font-size: 40px;
        /* Tamaño más pequeño para tabletas */
    }

    .container__img {
        width: 70%;
        height: auto;
        border: 5px solid rgb(236, 181, 77);
        /* Borde naranja */
    }
}

/* Desktop (43%) - 1824px a 1928px */
@media screen and (min-width: 1280px) {
    body {
        background-color: rgb(241, 138, 21);
        /* Color de fondo para dispositivos móviles */
    }

    .container__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__tittle {
        font-size: 50px;
        /* Tamaño de letra original para escritorio */
    }

    .container__img {
        width: 600px;
        /* Dimensiones específicas de la imagen */
        height: 600px;
        /* Dimensiones específicas de la imagen */
        margin-left: auto;
        /* Centrado horizontal */
        margin-right: auto;
        /* Centrado horizontal */
        border: 5px solid orange;
        /* Borde naranja */
    }
}
